<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-body">
      <h1>New Boardgame</h1>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <div class="panel panel-body">
          <%= render 'form' %>
          <%= link_to 'Back', games_boardgames_path %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>
